.login{
    width: 100%;
    min-height: 100vh;
    background-color: #1d2c38;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form{
    width: 400px;
    height: 500px;
    padding: 30px;
    background-color: #1d2c38;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
   margin: 30px;
    text-align: center;
    justify-content: center ;
    align-items: center;
    
}
.form h1 {
    color:#4CAF50;
}
.input_1{
    display: flex;
    align-items: center;
    background-color: #1d2c38;
    margin: 10px;
    padding: 0;
    border-bottom: 3px solid #4CAF50;
}

.input_2{
    display: flex;
    align-items: center;
  
}
.input-field {
   /* Color del borde */
    padding: 10px;
    width: 100%;
   border: 2px solid #1d2c38 ;
    background: #1d2c38;
    color: #FFFFFF;
}
.input-field:focus{
    outline: none;
}
.input-label{
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif; 
    position: relative;
    top:20px;
    left: -90px;
    background-color: #324e66;
    font-size: 15px;


}
.titu{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #fff;
    
}
.terminos{
    display: flex;
    
    color: #FFFFFF;
    font-family: sans-serif;
   
}
.Register{
    color: #FFFFFF;
    font-family: sans-serif;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    
}

.Register p a {
    color: #4CAF50;
    text-decoration: none;
    cursor: pointer;
    
}
.Register p a:hover {
   text-decoration: underline;
    
}
.terminos a:hover{
    text-decoration: underline;
    cursor: pointer;
    
}

.google-signin p {
    margin: 10px;
    font-family: sans-serif;
}
.google-signin{
    margin: 20px;
}
.error p {
  color: rgb(252, 0, 0);
  font-family: sans-serif;
  text-transform: uppercase;
}
.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
button {
    background: linear-gradient(to right,#3b5974,#5b768d) ;
    
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    color:#fff;
    font-family: sans-serif;
    border: none;
    font-size: 15px;
}
button:hover {
    
    background: linear-gradient(to left,#3b5974,#5b768d) ;
    
    
}