.login{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to left, rgba(232, 236, 230, 0.9), rgba(242, 245, 240, 0.9));
    display: flex;
    justify-content: center;
    align-items: center;

}

.form{
    width: 400px;
    height: 500px;
    padding: 30px;
   background: #E8EDE4;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
     border: 1px solid #D0D9C8;
   margin: 30px;
    text-align: center;
    justify-content: center ;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}
.form h1 {
    color:#0b880f;
}
.input_1{
    display: flex;
    align-items: center;
     background: #E8EDE4;
    margin: 10px;
    padding: 0;
    border-bottom: 3px solid #0b880f;
}

.input_2{
    display: flex;
    align-items: center;
  
}
.input-field {
   /* Color del borde */
    padding: 10px;
    width: 100%;
   border: 2px solid #E8EDE4 ;
     background: #E8EDE4;
    color: #1E1E1E;
}
.input-field:focus{
    outline: none;
}
.input-label{
    color: #1E1E1E;
    text-transform: uppercase;
    font-family: sans-serif; 
    position: relative;
    top:20px;
    left: -90px;
    background-color: #324e66;
    font-size: 15px;


}
.titu{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #1E1E1E;
    
}
.terminos{
    display: flex;
    
    color: #1E1E1E;
    font-family: sans-serif;
   
}
.Register{
    color: #1E1E1E;
    font-family: sans-serif;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    
}

.Register p a {
    color: #4CAF50;
    text-decoration: none;
    cursor: pointer;
    
}
.Register p a:hover {
   text-decoration: underline;
    
}
.terminos a:hover{
    text-decoration: underline;
    cursor: pointer;
    
}

.google-signin p {
    margin: 10px;
    font-family: sans-serif;
}
.google-signin{
    margin: 20px;
}
.error p {
  color: rgb(252, 0, 0);
  font-family: sans-serif;
  text-transform: uppercase;
}
.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
button {
  background-color: #0b880f;
    
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    color:#fff;
    font-family: sans-serif;
    border: none;
    font-size: 15px;
}
button:hover {
    
    background-color: #023a04;
    
    
}