.registro{
   background: linear-gradient(to left, rgba(232, 236, 230, 0.9), rgba(242, 245, 240, 0.9));
    color: #1E1E1E; 
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.formRegister{
    display: flex;
    background: #E8EDE4 ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.titulo{
    margin: 20px;
    width: 700px;
    color: #0b880f;
    
}
.registro div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
   
}
.termi{
    display: flex;
    font-size: 15px;
    width: 700px;
}
.termi input{
    margin: 0 10px;
}


@media (max-width: 768px) {
    .registro div {
        flex-direction: column;
        align-items: center;
    }
    .titulo {
        width: 100%;
    }
    input{
        width: 100%;
        margin: 10px 0; 
    }
    .termi{
        display: flex;
        font-size: 10px;
        width: 100%;
    }
}